<div class="cl2">
  <div class="cl2_container">
    <div class="cl2_container_base">
      <div class="cl2_container_base_title">
        <h1 class="cl2_container_base_title_text">{{cryptoLogicTexts.clCryptoContentTitle}}</h1>
        <p class="cl2_container_base_title_subtitle">{{cryptoLogicTexts.clCryptoContentSubtitle}}</p>
      </div>
      <div class="cl2_container_base_sides">
        <div class="cl2_container_base_sides_left">
   <div class="cl2_container_base_sides_left_content">
        <img class="cl2_container_base_sides_left_content_image" src={{cryptoLogicImages.clCryptoDescriptionImage}} />

      </div>
        </div>

      <div class="cl2_container_base_sides_right">
        <div class="cl2_container_base_sides_right_title">
          <p>{{cryptoLogicTexts.clCryptoDescriptionSubtitle}}</p>
          <h2>{{cryptoLogicTexts.clCryptoDescriptionTitle}}</h2>
        </div>
        <div class="cl2_container_base_sides_right_content">
          <div class="cl2_container_base_sides_right_content_text">
            <p>{{cryptoLogicTexts.clCryptoDescriptionText1}}</p>
          </div>
          <div class="cl2_container_base_sides_right_content_text">
            <p>{{cryptoLogicTexts.clCryptoDescriptionText2}}</p>
          </div>
          <div class="cl2_container_base_sides_right_content_text">
            <p>{{cryptoLogicTexts.clCryptoDescriptionText3}}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
