
<div class="la">
  <div class="la_container">
    <div class="la_container_base">
      <div class="la_container_base_left">
        <div class="la_container_base_left_title">
          <h2>{{cryptoLogicTexts.clDashboardTitleFirst}}</h2>
          <h2>{{cryptoLogicTexts.clDashboardTitleSecond}}</h2>
        </div>
        <div class="la_container_base_left_subtitle">
          <p>{{cryptoLogicTexts.clDashboardSubTitle}}</p>
        </div>
        <div class="la_container_base_left_buttons">
          <div class="la_container_base_left_buttons_button">
            <button class="la_container_base_left_buttons_button_content">{{cryptoLogicTexts.clDashboardButtonFirst}}</button>
          </div>
          <a href="" class="la_container_base_left_buttons_watch">
       <img src={{cryptoLogicImages.clDashboardButton}} class="la_container_base_left_buttons_watch_image"/>
       <p class="la_container_base_left_buttons_watch_text">{{cryptoLogicTexts.clDashboardButtonSecond}}</p>
          </a>
        </div>

      </div>
      <div class="la_container_base_right">
        <div class="la_container_base_right_banner">
          <img src={{cryptoLogicImages.clDashboardFirstImage}} style="width: 650px;"/>
        </div>
      </div>
    </div>
  </div>
</div>
