<div class="cl3">
  <div class="cl3_container">
    <div class="cl3_container_base">
      <div class="cl3_container_base_title">
        <h2>{{cryptoLogicTexts.clInvestRankingTitle}}</h2>
      </div>
      <div class="cl3_container_base_content">
        <ul class="cl3_container_base_content_table">
          <ol class="cl3_container_base_content_table_list">
             <li class="cl3_container_base_content_table_list_element">
            <p>{{cryptoLogicTexts.clInvestRankingText1}}</p>
          </li>
          <li class="cl3_container_base_content_table_list_element">
            <p>{{cryptoLogicTexts.clInvestRankingText2}}</p>
          </li >
          <li class="cl3_container_base_content_table_list_element">
            <p>{{cryptoLogicTexts.clInvestRankingText3}}</p>
          </li>
          <li class="cl3_container_base_content_table_list_element">
            <p>{{cryptoLogicTexts.clInvestRankingText4}}</p>
          </li>
          <li class="cl3_container_base_content_table_list_element">
            <p>{{cryptoLogicTexts.clInvestRankingText5}}</p>
          </li>
          </ol>

        </ul>

      </div>
    </div>
  </div>
</div>
