<div class="cl3">
  <div class="cl3_container">
    <div class="cl3_container_base">
      <div class="cl3_container_base_title">
        <h2>{{cryptoLogicTexts.clCryptoRankingTitle}}</h2>
      </div>
      <div class="cl3_container_base_content">
        <ul>
          <ol>
             <li>
            <p>{{cryptoLogicTexts.clCryptoRankingText1}}</p>
          </li>
          <li>
            <p>{{cryptoLogicTexts.clCryptoRankingText2}}</p>
          </li>
          <li>
            <p>{{cryptoLogicTexts.clCryptoRankingText3}}</p>
          </li>
          <li>
            <p>{{cryptoLogicTexts.clCryptoRankingText4}}</p>
          </li>
          <li>
            <p>{{cryptoLogicTexts.clCryptoRankingText5}}</p>
          </li>
          </ol>

        </ul>

      </div>
      <div class="cl3_container_base_users">
        <div class="cl3_container_base_users_one">
          <img src={{cryptoLogicImages.clCryptoRanking4}}/>
        </div>
        <div class="cl3_container_base_users_one">
          <img src={{cryptoLogicImages.clCryptoRanking2}}/>
        </div>
        <div class="cl3_container_base_users_one">
          <img src={{cryptoLogicImages.clCryptoRanking1}}/>
        </div>
        <div class="cl3_container_base_users_one">
          <img src={{cryptoLogicImages.clCryptoRanking3}}/>
        </div>
        <div class="cl3_container_base_users_one">
          <img src={{cryptoLogicImages.clCryptoRanking5}}/>
        </div>
      </div>
    </div>
  </div>
</div>
