<footer class="footer">
  <div class="footer_left">
    <img class="footer_left_logo" src={{cryptoLogicImages.clNavbarLogoWhite}}/>

  </div>
  <div class="footer_center">
 <p class="footer_center_text">{{cryptoLogicTexts.clFooterAdnotaion}}</p>
  </div>
  <div class="footer_right">
    <a href="">
          <img class="footer_right_image" src={{cryptoLogicImages.clFooterInsta}}/>
    </a>
    <a href="">
      <img class="footer_right_image" src={{cryptoLogicImages.clFooterFacebook}}/>
</a>
<a href="">
  <img class="footer_right_image" src={{cryptoLogicImages.clFooterTwitter}}/>
</a>
<a href="">
  <img class="footer_right_image" src={{cryptoLogicImages.clFooterGithub}}/>
</a>
  </div>
</footer>
