<div class="la2">
  <div class="la2_container">
    <div class="la2_container_base">
      <div class="la2_container_base_title">
        <h1 class="la2_container_base_title_text">{{cryptoLogicTexts.clDashboardNewsTitle}}</h1>
        <p class="la2_container_base_title_subtitle">{{cryptoLogicTexts.clDashboardNewsSubtitle}}</p>
      </div>
      <div class="la2_container_base_sides">
        <div class="la2_container_base_sides_left">
        <img class="la2_container_base_sides_left_image" src={{cryptoLogicImages.clDashboardNewsFirst}} />
        <div class="la2_container_base_sides_left_content">
          <p class="la2_container_base_sides_left_content_info">{{cryptoLogicTexts.clDashboardNewsContentTime1}}</p>
          <h2 class="la2_container_base_sides_left_content_title">{{cryptoLogicTexts.clDashboardNewsContentTitle1}}</h2>
          <p class="la2_container_base_sides_left_content_desc">{{cryptoLogicTexts.clDashboardNewsContentDescription1}}</p>
        </div>
      </div>
      <div class="la2_container_base_sides_right">
        <div class="la2_container_base_sides_right_up">
             <div class="la2_container_base_sides_right_up_content">
          <img class="la2_container_base_sides_right_up_content_image" src={{cryptoLogicImages.clDashboardNewsSecond}} >
          <p class="la2_container_base_sides_right_up_content_info">
            {{cryptoLogicTexts.clDashboardNewsContentTime2}}
          </p>
          <h2 class="la2_container_base_sides_right_up_content_title">{{cryptoLogicTexts.clDashboardNewsContentTitle2}}</h2>
        </div>
        <div class="la2_container_base_sides_right_up_content">
          <img class="la2_container_base_sides_right_up_content_image" src={{cryptoLogicImages.clDashboardNewsThird}} >
          <p class="la2_container_base_sides_right_up_content_info">
            {{cryptoLogicTexts.clDashboardNewsContentTime3}}
          </p>
          <h2 class="la2_container_base_sides_right_up_content_title">{{cryptoLogicTexts.clDashboardNewsContentTitle3}}</h2>
        </div>
        </div>
     <div class="la2_container_base_sides_right_down">
       <div class="la2_container_base_sides_right_down_content">
          <img class="la2_container_base_sides_right_down_content_image" src={{cryptoLogicImages.clDashboardNewsForuth}} >
          <p class="la2_container_base_sides_right_down_content_info">
            {{cryptoLogicTexts.clDashboardNewsContentTime4}}
          </p>
          <h2 class="la2_container_base_sides_right_down_content_title">{{cryptoLogicTexts.clDashboardNewsContentTitle4}}</h2>
        </div>
        <div class="la2_container_base_sides_right_down_content">
          <img class="la2_container_base_sides_right_down_content_image" src={{cryptoLogicImages.clDashboardNewsFifth}} >
          <p class="la2_container_base_sides_right_down_content_info">
            {{cryptoLogicTexts.clDashboardNewsContentTime5}}
          </p>
          <h2 class="la2_container_base_sides_right_down_content_title">{{cryptoLogicTexts.clDashboardNewsContentTitle5}}</h2>
        </div>
     </div>

      </div>
      </div>
    </div>
  </div>
</div>
