<div class="cl">
  <div class="cl_container">
    <div class="cl_container_base">
      <div class="cl_container_base_left">
        <div class="cl_container_base_left_title">
          <h2 class="cl_container_base_left_title_text">{{cryptoLogicTexts.clCryptoContentTitle}}</h2>
        </div>
      </div>
      <div class="cl_container_base_right">
        <div class="cl_container_base_right_banner">
          <img class="cl_container_base_right_banner_image" src={{cryptoLogicImages.clCryptoFirstImage}}/>
        </div>
      </div>
    </div>
  </div>
</div>
