<div class="la3">
  <div class="la3_container">
    <div class="la3_container_base">
      <div class="la3_container_base_title">
        <h2>{{cryptoLogicTexts.clDashboardOpinionTitle}}</h2>
      </div>
      <div class="la3_container_base_text">
        <p>{{cryptoLogicTexts.clDashboardOpinionText}}</p>
      </div>
      <div class="la3_container_base_users">
        <div class="la3_container_base_users_one">
          <img class="la3_container_base_users_one_image" src={{cryptoLogicImages.clDashboardOpinionUser4}}/>
        </div>
        <div class="la3_container_base_users_one">
          <img class="la3_container_base_users_one_image"src={{cryptoLogicImages.clDashboardOpinionUser2}}/>
        </div>
        <div class="la3_container_base_users_one">
          <img class="la3_container_base_users_one_image"src={{cryptoLogicImages.clDashboardOpinionUser1}}/>
          <h4 class="la3_container_base_users_one_text">{{cryptoLogicTexts.clDashboardOpinionUser}}</h4>
          <p class="la3_container_base_users_one_desc">{{cryptoLogicTexts.clDashboardOpinionUserJob}}</p>
        </div>
        <div class="la3_container_base_users_one">
          <img class="la3_container_base_users_one_image"src={{cryptoLogicImages.clDashboardOpinionUser3}}/>
        </div>
        <div class="la3_container_base_users_one">
          <img class="la3_container_base_users_one_image"src={{cryptoLogicImages.clDashboardOpinionUser5}}/>
        </div>
      </div>
    </div>
  </div>
</div>
