<div class="cl2">
  <div class="cl2_container">
    <div class="cl2_container_base">
      <div class="cl2_container_base_title">
        <h1 class="cl2_container_base_title_text">{{cryptoLogicTexts.clCryptoMinersContentTitle}}</h1>
        <p class="cl2_container_base_title_subtitle">{{cryptoLogicTexts.clCryptoMinersContentSubtitle}}</p>
      </div>
      <div class="cl2_container_base_sides">
        <div class="cl2_container_base_sides_left">
   <div class="cl2_container_base_sides_left_content">
        <img class="cl2_container_base_sides_left_content_image" src={{cryptoLogicImages.clCryptoMinersDescriptionImage}} />

      </div>
        </div>

      <div class="cl2_container_base_sides_right">
        <div class="cl2_container_base_sides_right_title">
          <p>{{cryptoLogicTexts.clCryptoMinersDescriptionSubtitle}}</p>
          <h2>{{cryptoLogicTexts.clCryptoMinersDescriptionTitle}}</h2>
        </div>
        <div class="cl2_container_base_sides_right_content">
          <div class="cl2_container_base_sides_right_content_text">
            <p>{{cryptoLogicTexts.clCryptoMinersDescriptionText1}}</p>
          </div>
          <div class="cl2_container_base_sides_right_content_text">
            <p>1. {{cryptoLogicTexts.clCryptoMinersDescriptionTextPoint1}}</p>
          </div>
          <div class="cl2_container_base_sides_right_content_text">
            <p>2. {{cryptoLogicTexts.clCryptoMinersDescriptionTextPoint2}}</p>
          </div>
          <div class="cl2_container_base_sides_right_content_text">
            <p>3. {{cryptoLogicTexts.clCryptoMinersDescriptionTextPoint3}}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
